* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: white;
    height: 70%;
    width: 25%;
    border-radius: 10px;
    padding: 17px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#clr {
    grid-column: 1/3;
}

input {
    background: rgb(0, 0, 0, 0.5);
    padding-right: 10px;
    overflow: scroll;
    scrollbar-width: none;
    color: white;
    font-size: x-large;
    text-align: right;
    grid-column: 1/-1;
    grid-row: 1/3;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 17px;
}

input::placeholder {
    color: white;
}

button {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    font-size: large;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: none;
    transform: scale(0.99);
}

.equalto {
    background-color: rgb(237, 176, 64);
}